body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{

    background-color: #f3da98;
    height: 700px;
    width: 600px;
    
}

.header, .nav{
    background-color: #518487;
    height: 100px;
    width: 650px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.nav{  
    margin: 0px 25px 25px 25px;
}

.section, .aside{
    background-color: #518487;
    height: 250px;
    margin-left: 25px;
    text-align: center;
    color:white
}

.aside{
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.article{

    background-color: #425454;
    height: 150px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.footer{
    background-color: #518487;
    height: 100px;
    width: 650px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.col, .section, .container{
    border-radius: 20px;
}